{% extends "votes/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <h2 style="color: white; margin: 1.3em; text-align: center;"><strong>Вход</strong></h2>
    <article style="padding: 1.2em; border-radius: 10px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline" type="submit">Войти</button>
            </div>
        </form>
    </article>
</section>
</section>
{% endblock content %}